html
{
width:800px;
margin:auto;
}

header
{
width:800px;
height:150px;
background-color:grey;
}

aside
{
width:200px;
height:500px;
background-color:red;
float:left;
}
section
{
width:600px;
height:500px;
background-color:blue;
float:left;
}
footer
{
margin-top:500px;
width:800px;
height:150px;
background-color:green;
}
footer img
{
margin-top:25px;
margin-left:10px;
}

#coord
{
float:right;
}