header {
	/* background-color:red; */
	height:200px;
}

aside {
	/* background-color:blue; */
	height:600px;
}

section {
	/* background-color:green; */
	height:600px;
}

footer {
	/* background-color:black; */
	height:200px;
}

