body { font-family:calibri,FreeSans, sans-serif; font-size:15px; background:#fff; background-position:top center; background-repeat:no-repeat; border-top:0 solid #000; color:#000; padding:0 0 40px; }
hr { border:2px #ccc solid; border-top-width:2px; height:2px; }
p { font-family:calibri,arial,verdana,serif; }
a { color:#00afef; text-decoration:none; }
a:hover { text-decoration:underline; }
a:focus { outline:1px dotted; }
ol { list-style:decimal; }
ul { list-style:disc; }
li { font-size:15px; }
h1 { font-size:25px; color:#00afef; font-variant:small-caps; line-height:35px; padding-left:75px; background-image:url(../img/logo_trefle_GE2.png); background-repeat:no-repeat; background-position:35px center; letter-spacing:0; margin-bottom:20px; text-shadow:1px 1px 1px silver; text-transform:uppercase; }
h2 { padding-left:0; font-family:calibri,arial,verdana,serif; color:#41a429; font-variant:small-caps; font-weight:700; font-size:18px; letter-spacing:0; margin-bottom:10px; }
h3 { font-size:21px; }
h4 { color:#00afef; font-weight:900; font-size:1.6em; letter-spacing:0; text-shadow:1px 1px 1px silver; }
h5 { font-size:22px; background-image:url(../img/Petit_Trefles_degrad_vert.png); background-repeat:no-repeat; background-position:left; line-height:50px; padding-left:70px; padding-bottom:7px; text-shadow:1px 1px 1px grey; color:#41a429; }
h6 { font-size:18px; padding-left:15px; color:#41a429; margin-bottom:15px; text-shadow:0 0 1px grey; }
.color_vert { color:#41a429; }
.color_red_pale { color:#DC4747; }
.color_red { color:#BA260A; }
.color_white { color:#FDFDFD; }
.color_bleu { color:#00afef; }
.color_gris { color:grey; }
.color_noir { color:#000; }
.color_gris_fonce { color:#A9A9A9; }
.margin_2 { margin:2px; }
.margin_5 { margin:5px; }
.margin_10 { margin:10px; }
.margin_15 { margin:15px; }
.margin_20 { margin:20px; }
.margin_25 { margin:25px; }
.margin_30 { margin:30px; }
.margin_40 { margin:40px; }
.margin_50 { margin:50px; }
.margin_60 { margin:60px; }
.margin_70 { margin:70px; }
.margin_80 { margin:80px; }
.margin_90 { margin:90px; }
.margin_100 { margin:100px; }
.margin_150 { margin:150px; }
.margin_auto { margin:auto; }
.margin_b_10 { margin-bottom:10px; }
.margin_b_15 { margin-bottom:15px; }
.margin_b_20 { margin-bottom:20px; }
.margin_b_25 { margin-bottom:25px; }
.margin_b_30 { margin-bottom:30px; }
.margin_b_40 { margin-bottom:40px; }
.margin_b_50 { margin-bottom:50px; }
.margin_b_65 { margin-bottom:65px; }
.margin_b_75 { margin-bottom:75px; }
.margin_b_100 { margin-bottom:100px; }
.margin_b_5_off { margin-bottom:-5px; }
.margin_b_10_off { margin-bottom:-10px; }
.margin_b_15_off { margin-bottom:-15px; }
.margin_b_20_off { margin-bottom:-20px; }
.margin_b_25_off { margin-bottom:-25px; }
.margin_b_30_off { margin-bottom:-30px; }
.margin_b_40_off { margin-bottom:-40px; }
.margin_b_50_off { margin-bottom:-50px; }
.margin_b_65_off { margin-bottom:-65px; }
.margin_b_75_off { margin-bottom:-75px; }
.margin_b_100_off { margin-bottom:-100px; }
.margin_t_2 { margin-top:2px; }
.margin_t_5 { margin-top:5px; }
.margin_t_10 { margin-top:10px; }
.margin_t_15 { margin-top:15px; }
.margin_t_20 { margin-top:20px; }
.margin_t_21 { margin-top:21px; }
.margin_t_22 { margin-top:22px; }
.margin_t_25 { margin-top:25px; }
.margin_t_30 { margin-top:30px; }
.margin_t_40 { margin-top:40px; }
.margin_t_50 { margin-top:50px; }
.margin_t_55 { margin-top:55px; }
.margin_t_58 { margin-top:58px; }
.margin_t_60 { margin-top:60px; }
.margin_t_62 { margin-top:62px; }
.margin_t_65 { margin-top:65px; }
.margin_t_75 { margin-top:75px; }
.margin_t_100 { margin-top:100px; }
.margin_t_125 { margin-top:125px; }
.margin_t_150 { margin-top:150px; }
.margin_t_175 { margin-top:175px; }
.margin_t_200 { margin-top:200px; }
.margin_t_225 { margin-top:225px; }
.margin_t_235 { margin-top:235px; }
.margin_t_250 { margin-top:250px; }
.margin_t_285 { margin-top:285px; }
.margin_t_325 { margin-top:325px; }
.margin_t_1_off { margin-top:-1px; }
.margin_t_2_off { margin-top:-2px; }
.margin_t_4_off { margin-top:-4px; }
.margin_t_5_off { margin-top:-5px; }
.margin_t_6_off { margin-top:-6px; }
.margin_t_8_off { margin-top:-8px; }
.margin_t_10_off { margin-top:-10px; }
.margin_t_15_off { margin-top:-15px; }
.margin_t_20_off { margin-top:-20px; }
.margin_t_25_off { margin-top:-25px; }
.margin_t_30_off { margin-top:-30px; }
.margin_t_40_off { margin-top:-40px; }
.margin_t_50_off { margin-top:-50px; }
.margin_t_65_off { margin-top:-65px; }
.margin_t_75_off { margin-top:-75px; }
.margin_t_90_off { margin-top:-90px; }
.margin_t_100_off { margin-top:-100px; }
.margin_t_120_off { margin-top:-120px; }
.margin_t_130_off { margin-top:-130px; }
.margin_t_140_off { margin-top:-140px; }
.margin_t_150_off { margin-top:-150px; }
.margin_t_175_off { margin-top:-175px; }
.margin_t_185_off { margin-top:-185px; }
.margin_t_200_off { margin-top:-200px; }
.margin_t_250_off { margin-top:-250px; }
.margin_t_400_off { margin-top:-400px; }
.margin_t_450_off { margin-top:-450px; }
.margin_t_550_off { margin-top:-550px; }
.margin_l_5 { margin-left:5px; }
.margin_l_10 { margin-left:10px; }
.margin_l_15 { margin-left:15px; }
.margin_l_20 { margin-left:20px; }
.margin_l_25 { margin-left:25px; }
.margin_l_30 { margin-left:30px; }
.margin_l_40 { margin-left:40px; }
.margin_l_50 { margin-left:50px; }
.margin_l_55 { margin-left:55px; }
.margin_l_70 { margin-left:70px; }
.margin_l_75 { margin-left:75px; }
.margin_l_80 { margin-left:80px; }
.margin_l_85 { margin-left:85px; }
.margin_l_100 { margin-left:100px; }
.margin_l_155 { margin-left:155px; }
.margin_l_115 { margin-left:115px; }
.margin_l_110 { margin-left:110px; }
.margin_l_112 { margin-left:112px; }
.margin_l_113 { margin-left:113px; }
.margin_l_120 { margin-left:120px; }
.margin_l_125 { margin-left:125px; }
.margin_l_145 { margin-left:145px; }
.margin_l_150 { margin-left:150px; }
.margin_l_152 { margin-left:152px; }
.margin_l_153 { margin-left:153px; }
.margin_l_160 { margin-left:160px; }
.margin_l_190 { margin-left:190px; }
.margin_l_195 { margin-left:195px; }
.margin_l_200 { margin-left:200px; }
.margin_l_250 { margin-left:250px; }
.margin_l_275 { margin-left:275px; }
.margin_l_280 { margin-left:280px; }
.margin_l_5_off { margin-left:-5px; }
.margin_l_10_off { margin-left:-10px; }
.margin_l_15_off { margin-left:-15px; }
.margin_l_20_off { margin-left:-20px; }
.margin_l_25_off { margin-left:-25px; }
.margin_l_30_off { margin-left:-30px; }
.margin_l_40_off { margin-left:-40px; }
.margin_l_50_off { margin-left:-50px; }
.margin_l_65_off { margin-left:-65px; }
.margin_l_75_off { margin-left:-75px; }
.margin_l_100_off { margin-left:-100px; }
.margin_l_120_off { margin-left:-120px; }
.margin_l_150_off { margin-left:-150px; }
.margin_l_200_off { margin-left:-200px; }
.margin_l_225_off { margin-left:-225px; }
.margin_l_240_off { margin-left:-240px; }
.margin_l_250_off { margin-left:-250px; }
.margin_l_255_off { margin-left:-255px; }
.margin_l_300_off { margin-left:-300px; }
.margin_r_10 { margin-right:10px; }
.margin_r_15 { margin-right:15px; }
.margin_r_20 { margin-right:20px; }
.margin_r_25 { margin-right:25px; }
.margin_r_30 { margin-right:30px; }
.margin_r_40 { margin-right:40px; }
.margin_r_50 { margin-right:50px; }
.margin_r_65 { margin-right:65px; }
.margin_r_75 { margin-right:75px; }
.margin_r_85 { margin-right:85px; }
.margin_r_95 { margin-right:95px; }
.margin_r_100 { margin-right:100px; }
.margin_r_105 { margin-right:105px; }
.margin_r_110 { margin-right:110px; }
.margin_r_120 { margin-right:120px; }
.margin_r_10_off { margin-right:-10px; }
.margin_r_15_off { margin-right:-15px; }
.margin_r_20_off { margin-right:-20px; }
.margin_r_25_off { margin-right:-25px; }
.margin_r_30_off { margin-right:-30px; }
.margin_r_40_off { margin-right:-40px; }
.margin_r_50_off { margin-right:-50px; }
.margin_r_65_off { margin-right:-65px; }
.margin_r_75_off { margin-right:-75px; }
.margin_r_100_off { margin-right:-100px; }
.pad_15 { padding:15px; }
.pad_l_5 { padding-left:5px; }
.pad_l_15 { padding-left:15px; }
.pad_l_25 { padding-left:25px; }
.pad_l_50 { padding-left:50px; }
.pad_r_15 { padding-right:15px; }
.pad_r_225 { padding-right:225px; }
.pad_15 { padding:15px; }
.pad_lr_2 { padding-left:2px; padding-right:2px; }
.pad_t_2 { padding-top:2px; }
.pad_t_5 { padding-top:5px; }
.pad_b_3_off { padding-bottom:-3px; }
.pre_wrap { white-space:pre-wrap; }
.clear { clear:both; }
.width_1 { width:25%; }
.width_2 { width:50%; }
.width_3 { width:75%; }
.width_4 { width:100%; }
.width_5 { width:125%; }
.width_10 { width:10%; }
.width_20 { width:20%; }
.width_30 { width:30%; }
.width_40 { width:40%; }
.width_45 { width:45%; }
.width_52 { width:52%; }
.width_55 { width:55%; }
.width_57 { width:57%; }
.width_60 { width:60%; }
.width_65 { width:65%; }
.width_70 { width:70%; }
.width_80 { width:80%; }
.width_90 { width:90%; }
.width_95 { width:95%; }
.width_auto { width:auto; }
.width_350px { width:350px; }
.width_500px { width:500px; }
.width_625px { width:625px; }
.height_100 { height:100%; }
.height_50 { height:50%; }
.height_75 { height:75%; }
.height_25 { height:25%; }
.height_20px { height:20px; }
.height_25px { height:25px; }
.height_50px { height:50px; }
.height_52px { height:52px; }
.height_60px { height:60px; }
.height_75px { height:75px; }
.height_125px { height:125px; }
.height_150px { height:150px; }
.height_220px { height:220px; }
.height_500px { height:500px; }
.height_auto { height:auto; }
.disp_inline { display:inline; }
.disp_inline_block { display:inline-block; }
.disp_block { display:block; }
.disp_li { display:list-item; }
.hidden { display:none; }
.visible { visibility:visible; }
.float_l { float:left; }
.float_r { float:right; }
.liste_bleue { background-image:url(../img/fond/fleche_bleue.png); background-position:center left; background-repeat:no-repeat; padding-left:25px; font-variant:small-caps; font-weight:900; font-size:1.3em; letter-spacing:-1px; margin-left:15px; }
.liste_bleu { list-style-image:url(../img/fond/fleche_bleue.png); }
.liste_trefle { list-style-image:URL(../img/puce_trefle.png); }
.no_liste { list-style:none; }
.font_size_up { font-size:1.3em; }
.font_size_down { font-size:.8em; }
.font_size_down_2 { font-size:.9em; }
.font_size_down_1em { font-size:1em; }
.font_size_down_2em { font-size:2em; }
.justify { text-align:justify; }
.text_right { text-align:right; }
.text_left { text-align:left; }
.text_center { text-align:center; }
.align_top { vertical-align:top; }
.align_middle { vertical-align:middle; }
.align_bottom { vertical-align:bottom; }
.calibri { font-family:calibri; }
.arial { font-family:arial; }
.serif { font-family:serif; }
.tahoma { font-family:tahoma; }
.italic { font-style:italic; }
.gras { font-weight:700; }
.no_bold { font-weight:400; }
.small_caps { font-variant:small-caps; }
.majuscule { text-transform:uppercase; }
.capitalize { text-transform:capitalize; }
.text_shadow_blanc { text-shadow:1px 1px 1px #FFF; }
.text_shadow_noir { text-shadow:1px 1px 1px #000; }
.interligne_15 { line-height:15px; }
.interligne_20 { line-height:20px; }
.interligne_30 { line-height:30px; }
.emattement_1 { letter-spacing:0; }
.absolute { position:absolute; }
.relative { position:relative; }
.alinea_10 { text-indent:10px; }
.bg_rouge { background-color:red; }
.bg_chartreuse { background-color:#7FFF00; }
.bg_bleu { background-color:blue; }
.bg_jaune { background-color:#FF0; }
.bg_vert { background-color:green; }
.bg_vert_clair { background-color:#DCF4D4; }
.bg_gris_clair { background-color:#CFDBEC; }
.bg_gris { background-color:silver; }
.bg_blanc { background-color:#FFF; }
.bg_ge_1 { background-color:#000; }
.bg_img_halo { background-image:url(../img/page/start/halo_petit.png); }
.bg_position_r { background-position:top right; }
.bg_no_repeat { background-repeat:no-repeat; }
.green1 { font-family:calibri,arial,verdana,serif; font-variant:small-caps; font-weight:700; font-size:18px; letter-spacing:0; }
.tab_p { display:inline-block; width:215px; }
.shadow { -moz-box-shadow:0 0 4px #fff; -webkit-box-shadow:0 0 4px #fff; box-shadow:0 0 4px #fff; -ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=120, Color='#ffffff')"; filter:progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=120,Color='#ffffff'); }
.shadow_black { -moz-box-shadow:0 0 4px #000 0 0 0 4px #000; box-shadow: 0 0 4px #000 0 "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=120, Color='#00000')"; filter:progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=120,Color='#000000'); }
.shadow_menu { -moz-box-shadow:15px 15px 4px #fff; -webkit-box-shadow:0 0 4px #fff; box-shadow:0 0 4px #fff; -ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=120, Color='#ffffff')"; filter:progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=120,Color='#ffffff'); background-color:#99B2BF; border:2px dotted #0FF; }
.border_1_s_b { border:1px solid #000; }
.border_1_s_r { border:1px solid red; }
.border_1_s_g { border:1px solid green; }
.border_1_s_y { border:1px solid #FF0; }
.border_1_s_c { border:1px solid #0FF; }
.border_1_d_b { border:1px dotted #000; }
.border_radius_5 { border-radius:5px; }
.pointer { cursor:pointer; }
.z_index_off { z-index:-9999; }
.z_index_up { z-index:9999; }
.overflow_hidden { overflow:hidden; }
.margin_l_60,.margin_l_65 { margin-left:65px; }
.normal_caps,.font_normal { font-variant:normal; }
.line_height_15{
    line-height: 15px;;
}
.margin_t_10{
    margin-top: 10px;
}